.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  direction: rtl;
  .lung {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    img {
      margin-right: 10px;
    }
    span {
      color: #000;
      font-family: Inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .logo {
    padding-right: 10px;
  }
}
